<h1 class="text-center mt-2 text-black">Recipes</h1>
<div class="justify-content-md-endt ml-3" >
  <%= link_to "+ Add new recipe", new_article_path, class: "btn btn-success mb-3" %>
</div>
<%= render 'article', obj: @articles %>
<div class="flickr_pagination pagination justify-content-end mb-2 mr-2">
  <%= will_paginate @articles, :container=>false %>
</div>
