<div class="jumbotron">
  <h1 class="display-4">Family CookBlog</h1>
  <p class="lead">What we eat, how we live</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Recipes", articles_path, class:"btn btn-dark btn-lg" %>
  </p>
</div>
