<div id="page-content">
    <div class="jumbotron">
      <h1 class="display-4">Kram Perliczki, Welcome!</h1>
      <p class="lead">Here you will find the best natural handmade soups in the world</p>
      <hr class="my-4">
      <p>Placeholder</p>
      <p class="lead">
        <a class="btn btn-dark btn-lg" href="#" role="button">Check out our offer</a>
      </p>
    </div>
  <%#  <p><%= link_to 'About page', about_path %></p>
  <%#  <p><%= link_to 'Articles listing', articles_path %></p>
</div>
