@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #FFFBF8 !important;
  font-family: 'Quintessential';
  height: 80px;
}
.navbar-brand {
  background-image: asset-url('logo-garlic.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
  width: 70px;
}

.nav-link {
  color: black !important;
}

#home-container {
  margin-top: 20px;
}

.jumbotron {
  font-family: 'Quintessential';
  background-image: asset-url('jumbotron-background-garlic-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: white !important;
  font-family: 'Quintessential';
}

#sticky-footer {
  flex-shrink: none;
  background-color: #44333D !important;
}

.card {
  background-color: #FFEAEA;
}
