<h1 class="text-center mt-4 mb-4 text-black">Category: <%= @category.name %></h1>
<%= render 'articles/article', obj: @articles %>
<div class="flickr_pagination pagination justify-content-end mb-2 mr-2">
  <%= will_paginate @articles, :container=>false %>
</div>
<div class="form-group row justify-content-center mt-3">
  <p>
    <%= link_to 'Back to categories', categories_path, class: "btn btn-dark" %>
  </p>
</div>
